<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header>

    </header>
    <h2>Productos existentes</h2>
<ul>
    {% for producto in productos %}
        <div>
            <li>            
                {{producto.nombre}}
                {{producto.descripcion}}
                {{producto.precio}}
                {{producto.stock}}
                {{producto.categoria}}</li>

        </div>
    {% empty %}
    <li>No tiene Productos</li>
    {% endfor %}
</ul>
</body>
</html>