<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <a href="{% url 'perfil' %}">Perfil</a>
  <h2>Cambiar contraseña</h2>
  <form method="post">
    {% csrf_token %}
    <div>
      <label for="{{ form.password_actual.id_for_label }}">Contraseña actual:</label>
      {{ form.password_actual }}
      {{ form.password_actual.errors }}
    </div>
    <div>
      <label for="{{ form.nueva_password1.id_for_label }}">Nueva contraseña:</label>
      {{ form.nueva_password1 }}
      {{ form.nueva_password1.errors }}
    </div>
    <div>
      <label for="{{ form.nueva_password2.id_for_label }}">Confirmar nueva contraseña:</label>
      {{ form.nueva_password2 }}
      {{ form.nueva_password2.errors }}
    </div>
    <button type="submit">Cambiar contraseña</button>
  </form>
  
</body>
</html>